# --- Build & Compiled Code ---

# --- Eclipse Workspace & Project Files ---
.metadata/
.recommenders/
.settings/
.classpath
.project
.factorypath

# --- System & Logs ---
.DS_Store
*.log
*.prefs

# --- IDE Specific (VS Code / IntelliJ) ---
.vscode/
.idea/
*.iml